  <td class="enigmas">
    <% if (enigma.difficulty == 5)%>
    <a href='<%= "/"+Theme.where(id: enigma.theme_id).first.label+"/enigmas/"+enigma.difficulty.to_s%>'>
      <div class="philosophy1h" style="background-image:url(<%= "/images/"+Theme.where(id: enigma.theme_id).first.label+"/enigme"+enigma.difficulty.to_s+".jpg"%>)">
      </div>
    </a>
    <% else %>

    <a href='<%= "/"+Theme.where(id: enigma.theme_id).first.label+"/enigmas/"+enigma.difficulty.to_s %>'>
      <div class="philosophy1h" style="background-image:url(<%= "/images/"+Theme.where(id: enigma.theme_id).first.label+"/enigme"+enigma.difficulty.to_s+".jpg"%>)">
        <span class="difficulty"> <%= enigma.difficulty %></span>
      </div>
    </a>
    <% end %>

  </td>
