  <td class="enigmas">
    <% if (enigma.difficulty == 5)%>
    <a href='<%= "/"+Theme.where(id: enigma.theme_id).first.label+"/enigmas/"+enigma.difficulty.to_s%>'><%= enigma.label %></a>
    <span class="theme"> <%= Theme.where(id: enigma.theme_id).first.label %></span>
    <% else %>

    <a href='<%= "/"+Theme.where(id: enigma.theme_id).first.label+"/enigmas/"+enigma.difficulty.to_s %>'>
      <div class="philosophy1h">
        <span class="difficulty"> <%= enigma.difficulty %></span>
      </div>
    </a>
    <% end %>

  </td>
